# Compiled class file
*.class

# Test file
\Taller_2\src\Test


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

MainMarlonApp.java
MainJuan.java
*.txt
MainNiurka.java
*.txt

Taller_2/src/test/Main.java
